*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


    h1 { font-family: fantasy; font-size: 45px; font-style: italic; font-variant: normal; font-weight: 100; line-height: 103.5px; } h3 { font-family: fantasy; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: fantasy; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: fantasy; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: fantasy; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px;}

    h1{ color: gold;}

body{
    background-color: black;
}

img{
    text-align: center;
    background-position: center;
}

h2{
    color: gold;
}
h2 { font-family: fantasy; font-size: 45px; font-style: italic; font-variant: normal; font-weight: 100; line-height: 103.5px; } h3 { font-family: fantasy; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: fantasy; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: fantasy; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: fantasy; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px;}

.text-input{
    width: 300px;
    height: 300px;
}

button{
    height: 30px;
    width: 170px;
    border-radius: 10px;
    background-color: gold;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

